In [1]:
#считываем .txt файл
import os
path = 'C:/Users/User/Downloads/4_necessary_inn.txt'
open(path).readlines()

['394609645484\n',
 '281578625230\n',
 '923769811917\n',
 '998694734508\n',
 '271011690615\n',
 '924952812367\n',
 '646685244561\n',
 '581531230312\n',
 '841967395801\n',
 '962179889311\n',
 '873191383820\n',
 '590538076039\n',
 '194319975048\n',
 '614658394086\n',
 '571270160555\n',
 '609400911893\n',
 '595260069852\n',
 '706966142477\n',
 '173050718969\n',
 '968048428696\n',
 '806967744814\n',
 '575198252501\n',
 '283081417246\n',
 '663119569897\n',
 '600958529354\n',
 '280452832937\n',
 '415557497037\n',
 '195142638722\n',
 '472181033836\n',
 '722903871682\n',
 '442387408954\n',
 '196518820495\n',
 '653798670054\n',
 '126259856639\n',
 '175482780898\n',
 '192518356612\n',
 '817648134701\n',
 '321724220657\n',
 '864970037680\n',
 '822991191528\n',
 '205472219644\n',
 '532801459453\n',
 '657038381012\n',
 '197916669463\n',
 '849814898285\n',
 '617082656257\n',
 '500480544925\n',
 '765833725639\n',
 '263518962896\n',
 '415856290529\n',
 '812729265571\n',
 '688172366656\n',
 '837771137752\n',
 '456294893364\n',
 '668157292633\n',
 '491435460276\n',
 '323896131459\n',
 '664667769879\n',
 '293128896936\n',
 '833493884251\n',
 '120708914823\n',
 '860475372268\n',
 '172328288163\n',
 '452188261986\n',
 '818829342640\n',
 '948029225406\n',
 '310163740295\n',
 '973834903297\n',
 '499074920916\n',
 '124852843647\n',
 '172587252836\n',
 '270813334693\n',
 '696676566941\n',
 '299222521497\n',
 '682181592872\n',
 '599455346647\n',
 '429358855495\n',
 '607756744365\n',
 '301872309187\n',
 '377093087035\n',
 '157426408379\n',
 '915717036011\n',
 '336147486322\n',
 '725452097724\n',
 '391753469823\n',
 '111910860945\n',
 '430987130018\n',
 '597922572504\n',
 '879473672756\n',
 '424269684543\n',
 '544509469640\n',
 '728283180187\n',
 '149255676155\n',
 '246181878243\n',
 '641538282011\n',
 '666673563650\n',
 '935815591544\n',
 '782372718125\n',
 '897420523262\n',
 '871503698182\n',
 '766327301251\n',
 '581865132298\n',
 '703895742672\n',
 '683933366928\n',
 '884977586630\n',
 '391131415604\n',
 '500226023773\n',
 '776902992723\n',
 '798315862776\n',
 '829796290544\n',
 '664306216794\n',
 '991951385204\n',
 '129413497752\n',
 '447901012904\n',
 '634037614688']

In [24]:
#считываем excel файл
import pandas as pd

income = pd.read_excel (r'C:/Users/User/Downloads/4_inn.xls')
print (income)

      Unnamed: 0     #                                    name     reg_number  \
0              0     0         ЗАО «Власова, Макаров и Шашков»  1143692580560
1              1     1  РАО «Тимофеева, Алексеева и Кузнецова»  9342309660697
2              2     2                      РАО «Юдин-Ефимова»  1277485323451
3              3     3                   Доронин Инкорпорэйтед  7139161431511
4              4     4    Объединенная энергетическая компания  6114798049639
...          ...   ...                                     ...            ...
2105        2105  2105         ИП «Зайцев, Шубин и Дементьева»  6580539599719
2106        2106  2106                               Юдина Лтд  5012825137426
2107        2107  2107                        Антонова Лимитед  7659150538516
2108        2108  2108                    ООО «Хохлов Казаков»  9506828156265
2109        2109  2109                  ИП «Кабанов Ситникова»  5283860848622

                                                address  \
0     д. Кирово-Чепецк, пр. Металлургов, д. 537 к. 3...
1     г. Арзамас, наб. Фестивальная, д. 7 стр. 8/2, ...
2     п. Меренга, алл. Достоевского, д. 3/4 к. 497, ...
3     д. Иваново, ул. Красных Партизан, д. 83 к. 4, ...
4              к. Энгельс, наб. Шишкина, д. 120, 823828
...                                                 ...
2105   к. Чебаркуль, бул. Кольцевой, д. 19 к. 3, 911953
2106  д. Темрюк, ш. Автомобилистов, д. 9 стр. 59, 80...
2107          г. Ноябрьск, пр. Весенний, д. 418, 214696
2108           к. Липецк, наб. Халтурина, д. 60, 449290
2109       г. Котлас, бул. 30 лет Победы, д. 73, 801698

                               head              head_job      head_inn  \
0             Жданов Карл Виленович              Маммолог  109092209811
1       Рожков Харлампий Алексеевич           Воспитатель  704229465069
2          Филимон Фадеевич Дьячков           Автослесарь  267655036377
3              Крылов Глеб Якубович  Тюремный надзиратель  362024991175
4       Субботин Вячеслав Федотович      Инженер-электрик  257948948010
...                             ...                   ...           ...
2105        Назар Гордеевич Миронов            Дефектолог  575321775842
2106       Игнатов Кирилл Арсенович             Прозектор  703895742672
2107  Александров Радим Ярославович           Дознаватель  576824176737
2108        Воробьев Сидор Фролович               Снайпер  157426408379
2109   Эммануил Аверьянович Фомичев               Филолог  508412506243

                   phone                      email               site  \
0     +7 (559) 338-87-76  bogdanovavtonom@yahoo.com           ooo.info
1       8 (632) 620-8879     safonovantonin@rao.org            ooo.net
2           +74925330378           kdorofeev@npo.ru             ao.com
3       +7 118 643 21 48          nkulakova@mail.ru             ooo.ru
4         8 642 249 2134        evgraf_18@yahoo.com     gerasimova.biz
...                  ...                        ...                ...
2105   8 (390) 976-88-54         juvenali_66@ao.edu  aviakompanija.edu
2106     +7 854 489 5577     gavrila_2019@gmail.com            npo.net
2107   +7 (135) 034-6805   chernovlongin@rambler.ru         krilov.net
2108     +7 172 548 4422        qpanova@hotmail.com            oao.org
2109     +7 224 287 5729   novikovprokofi@gmail.com      kompanija.com

     registration_date nalogoplatelschik_code   oktmo_code   okato_code  \
0           2015-01-07             2006-10-04  21112877268  73423615032
1           1990-05-16             2019-01-18  18393547520  19072454279
2           1982-11-04             1986-06-19  56104355836  18629292792
3           2005-01-02             2004-04-06  10398489351  32502585383
4           1983-07-02             1992-06-20  20074507047  40083207999
...                ...                    ...          ...          ...
2105        2007-02-01             2014-10-29  13383530491  62100202894
2106        1973-08-13             2001-11-09  40544984216  35386922447
2107        2018-11-03             2016-06-15  39266483828  21174514029
2108        1980-07-02             2009-11-23  76945273610  95601014531
2109        2001-05-17             2014-01-21  86322929141  84557726914

     registration_region                                         okato_name  \
0               Ulan-Ude           к. Тосно, ул. Пушкинская, д. 896, 617222
1            Tyoply Stan          ст. Кяхта, бул. Нефтяников, д. 24, 768742
2                Danilov  клх Усолье Сибирское, алл. Шишкина, д. 3/9 к. ...
3            Beryozovsky  г. Заводоуковск, ул. Гражданская, д. 7 к. 8/5,...
4                  Bavly  к. Соль-Илецк, пер. Пригородный, д. 804 к. 1/3...
...                  ...                                                ...
2105            Gudermes   г. Миасс, пр. Пожарского, д. 39 стр. 880, 386211
2106                Tver  к. Мыс Шмидта, алл. Комарова, д. 257 стр. 3, 8...
2107           Sharypovo     с. Щелково, алл. Попова, д. 143 к. 811, 155684
2108        Privolzhskiy         п. Токма, ш. 50 лет Победы, д. 730, 791941
2109         Dyat‚Äôkovo      с. Усмань, ш. Песочное, д. 754 стр. 3, 031897

                                                  field  capital,RUB  \
0             Синхронизация критически важных отношений  54875526078
1                         Формирование заказных методик  33876448811
2                     Максимизация корпоративных метрик  94073834991
3     Разработка ориентированных на пользователя инт...  86971505490
4                  Монетизация интуитивных веб-сервисов  36351136214
...                                                 ...          ...
2105                           Охват прозрачных методик  88659854892
2106             Увеличение кроссплатформенных действий  20441750025
2107                     Мотивация сенсационных решений   9278989412
2108                        Охват серверных результатов  84921082372
2109                         Итерация передовых моделей  38622960779

       income,RUB
0     32205872896
1     47437574301
2      7701710065
3     61148002572
4     34861533393
...           ...
2105  61232741869
2106  67450329265
2107  77350481806
2108  85023560472
2109  10015090473

[2110 rows x 20 columns]

In [25]:
income.columns

Index(['Unnamed: 0', '#', 'name', 'reg_number', 'address', 'head', 'head_job',
       'head_inn', 'phone', 'email', 'site', 'registration_date',
       'nalogoplatelschik_code', 'oktmo_code', 'okato_code',
       'registration_region', 'okato_name', 'field', 'capital,RUB',
       'income,RUB'],
      dtype='object')

In [81]:
#нам нужны инн и доход, забираем их в датафрэйм income_inn
income_inn= income[['head_inn','income,RUB']]

In [106]:
income_inn.head()

       head_inn   income,RUB
0  109092209811  32205872896
1  704229465069  47437574301
2  267655036377   7701710065
3  362024991175  61148002572
4  257948948010  34861533393

In [107]:
#назовем текстовый файл "инн"
inn=pd.DataFrame(open(path).readlines())

In [108]:
# чтобы в дальнейшем соединить 2 датафрейма, назову колонку  head_inn, также как и в файле эксель
inn.columns=['head_inn']

In [109]:
#head_inn иммет тип "объект", поменяем его на int64
inn.dtypes

head_inn    object
dtype: object

In [110]:
#удалим в каждом инн "\n"
inn['head_inn'] = inn['head_inn'].str.replace(r'\n', '').astype('int64')

In [111]:
inn

         head_inn
0    394609645484
1    281578625230
2    923769811917
3    998694734508
4    271011690615
..            ...
110  664306216794
111  991951385204
112  129413497752
113  447901012904
114  634037614688

[115 rows x 1 columns]

In [112]:
#видим, что тип данных изменился на нужный
inn.dtypes

head_inn    int64
dtype: object

In [98]:
#соединим два тадафрейма по колонке "head_inn"
merge=inn.merge(income_inn, on='head_inn')

In [101]:
#считаем сумму доходов тех инн, которые были в текстовом файле
merge['income,RUB'].sum()

6104522627393

In [38]:
#сумма всех инн в эксель-файле
summed=income_inn['income,RUB'].sum()
summed

103989753020514

In [117]:
#сохраним нужные инн в формате csv
inn.to_csv('C:/Users/User/Downloads/selected_inn.csv')